.playerBoard {
  max-width: 50%;
  width: 50%;
  height: 50%;
  max-height: 50%;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
  .playerInfo {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
